.my-footer {
    height: 100em;
    margin: auto;
    background-color: #bf3a3a;
    margin-top: 1.5em;
    padding: 0;
    color: #FFFFFF;
    font-size: 100%;
  }

  .room-image {
    max-width: 50%;
  }
  .red-text{
    color: red;
  }
  .notie-container{
    box-shadow: none;
  }
  .datepicker{
    z-index: 100000;
    orientation: top;
  }
