{{template "base" .}}

{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1> this will be a row</h1>
        </div>
    </div>

        
        <div class="row">
            <div class="col text-center">
                

                <a href="/make-reservation-gq" class="btn btn-success">Make Reservation Now</a>
            </div>
        </div>

    </div>
</div>

{{end}}